body {
  /* display: flex; */
  /* justify-content: center; */
  padding: 24px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Montserrat,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

ul {
  padding-inline-start: 0px;
}

p {
  margin-right: auto;
}

* {
  box-sizing: border-box;
  list-style-type: none;
}

/* task 1 */

#categories {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-left: 0;
  row-gap: 24px;
  width: 392px;
  margin-right: auto;
}

h2 {
  color: #2e2f42;
  margin: 0px;
  margin-bottom: 16px;

  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-align: left;
}

.item {
  background-color: #f6f6fe;
  padding: 16px;
  border-radius: 8px;
}

.item > ul {
  padding: 0px;
}

.item > ul > li {
  padding: 5px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  color: #2e2f42;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}

.item > ul > li:not(:last-child) {
  margin-bottom: 8px;
}

/* task 2 */

.gallery {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 24px;
  column-gap: 24px;
}

.gallery-item > a > img {
  width: 360px;
  height: 250px;
}

/* task 3 */
#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  color: #2e2f42;
  padding: 8px;
  padding-left: 16px;
  width: 360px;
  margin-bottom: 16px;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 0px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-align: left;
  text-align: center;
}

/* task 4 */

.login-form,
label {
  display: flex;
  flex-direction: column;
}

.login-form {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}

input {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 360px;
  border-radius: 4px;
  border: 1px solid #808080;
  height: 40px;
  padding-left: 12px;
  color: #2e2f42;
}

.login-form > button {
  width: 86px;
  padding: 8px;
  background-color: #4e75ff;
  border: 0px;
  margin-top: 8px;
  color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

/* task 5*/

.widget {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.widget > p {
  margin-bottom: 16px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #2e2f42;
}

.widget > button {
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  color: white;
  border: 0px;
  border-radius: 8px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
}

/* task 6*/

#controls,
#boxes {
  padding: 32px;
  background-color: #f6f6fe;
  border-radius: 8px;
}

#boxes {
  width: fit-content;
  /* min-height: fit-content; */
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 44px;
  column-gap: 44px;
}

#controls {
  margin-bottom: 16px;
  display: flex;
  column-gap: 44px;
  width: 486px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

#controls > input {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background-color: inherit;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;

  text-align: center;
}

#controls > button {
  width: 120px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  background-color: #4e75ff;
  color: white;
  border: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

#controls > button:last-child {
  background-color: red;
}
